/* GENERALE */

/* Primari */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* /Primari */

/* Secondari */

div.box{
  width: 80%;
  max-width: 1200px;
  min-width: 600px;
  margin: auto;
}

div.vestiti{
  display: inline-block;
  position: relative;
  width: 31%;
  margin: 20px 10px 80px;
}

div.text{
  position: absolute;
  top: 550px;
}

h3{
  text-transform: uppercase;
}

span.barra{
  text-decoration: line-through;
}

div.text .prezzo{
  color: red;
}

div.heart{
  position: absolute;
  top: 20px;
  left: 338px;
  background-color: white;
  padding: 10px;
  font-size: 1.5rem; 
}

p.percent, p.sost{
  display: inline-block;
}

/* /Secondari */

/* /GENERALE */

/* MAIN */

div.vestiti img{
  width: 100%;
}

.img-nascosta{
  position: absolute;
  top: 0;
  display: none;
} 

div.sconti{
  position: absolute;
  top: 480px;
  color: white; 
}

p.percent{
  padding: 5px;
  background-color: rgb(235, 0, 55);
}

p.sost{
  background-color: rgb(0,135,90);
  padding: 5px;
}

.vestiti .nasc{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
  
}

.vestiti:hover .nasc{
  display: block;
}

/* /MAIN */